@media (max-width: 1025px) {
  div.col-md-7.offset-md-9 {
    margin-left: 74%;
  }

  form:nth-of-type(1) {
    display: none;
    flex-flow: none;
    align-items: center;
  }
}

@media (max-width: 801px) {
  html {
    font-size: 0.9rem;
  }

  div.col-md-7.offset-md-9 {
    margin-left: 72%;
  }

  .mr-md-3,
  .mx-md-3 {
    margin-right: 0.1rem !important;
  }

  .col-2,
  .col-5 {
    padding-left: 0px;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 0.7rem;
  }
  div.col-md-7.offset-md-9 {
    margin-left: 74%;
  }
  h5 {
    font-size: 1.6rem;
  }
}

@media (max-width: 602px) {
  div.col-md-7.offset-md-9 {
    margin-left: 71%;
  }

  h5.my-0.mr-md-auto.font-weight-normal {
    position: absolute;
    top: 2.5vh;
    left: 2vw;
  }

  nav {
    margin-left: 11.5vw;
  }

  form {
    position: absolute;
    top: 1.5vh;
    right: 2vw;
  }

  img.exchange {
    transform: scale(0.8);
    margin-left: -2vw;
  }

  footer {
    margin-top: 8vh;
    margin-bottom: 8vh;
  }

  footer img {
    margin-top: 3vh;
  }

  footer .col-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  footer h5 {
    margin-left: 6vw;
  }

  footer nav {
    margin-left: 6vw;
  }
}

@media (max-width: 415px) {
  div.col-md-7.offset-md-9 {
    margin-left: 69%;
  }

  nav.my-2.my-md-0.mr-md-3 {
    display: none;
  }

  .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm {
    padding: 2.5rem !important;
  }

  h5.my-0.mr-md-auto.font-weight-normal {
    position: absolute;
    top: 3.4vh;
    left: 3vw;
  }
  form {
    position: absolute;
    top: 2.5vh;
  }

  .col-2,
  .col-5 {
    padding-left: 15px;
  }

  img.exchange {
    transform: scale(0.7);
    margin-left: -7vw;
  }

  footer {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  footer img {
    margin-top: 7vh;
  }

  footer h5 {
    margin-left: 7vw;
  }

  footer nav {
    margin-left: 7vw;
  }
}

@media (max-width: 413px) {
  h5.my-0.mr-md-auto.font-weight-normal {
    top: 4vh;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 0.6rem;
  }

  div.col-md-7.offset-md-9 {
    margin-left: 67%;
  }

  img.exchange {
    display: none;
  }

  .col-2 {
    flex: 0;
    max-width: 1%;
  }

  .col-5 {
    flex: 0 0 46%;
    max-width: 46%;
  }

  footer img {
    margin-top: 5vh;
  }
}

@media (max-width: 361px) {
  div.col-md-7.offset-md-9 {
    margin-left: 40%;
  }

  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 300px) {
  .col-md-7 {
    flex: 50 !important;
  }
}
